{% extends 'tracker/base.html' %}
{% block content %}
<!--    <div class="stats py-4 no-gutter ">-->
<!--        <div class="container">-->
<!--            <div class="heading">-->
<!--                <p><small class="lead">While There's Life There's Hope !!</small></p>-->
<!--                <h2>COUNTRY WISE REPORT</h2>-->
<!--            </div>-->
<!--            <div class="curr_stat">-->
<!--                <div class="row mx-4 my-4">-->
<!--                    <div class="col-md-2 rounded bg-dark text-light text-center mx-auto my-1">-->
<!--&lt;!&ndash;                        <p>213334</p>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="row bg-light text-dark">&ndash;&gt;-->
<!--                        <h5 class="mt-3">Confirmed Cases</h5>-->
<!--                        <h3 class="mt-4 no-gutter ">{{context.confirmed}}</h3>-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                    </div>-->
<!--&lt;!&ndash;                    <div class="col-md-2 rounded bg-dark text-light text-center mx-auto my-1">&ndash;&gt;-->
<!--&lt;!&ndash;                        <h5 class="mt-3">Operative Cases</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                        <h3 class="mt-4 no-gutter ">{{context.active}}</h3>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    <div class="col-md-2 rounded bg-dark text-light text-center mx-auto my-1">-->
<!--                        <h5 class="mt-3">Recovered Cases</h5>-->
<!--                        <h3 class="mt-4 no-gutter ">{{context.recovered}}</h3>-->
<!--                    </div>-->
<!--                    <div class="col-md-2 rounded bg-dark text-light text-center mx-auto my-1">-->
<!--                        <h5 class="mt-3">Deceased Cases</h5>-->
<!--                        <h3 class="mt-4 no-gutter ">{{context.deceased}}</h3>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<h1 class="text-center justify-align-center">Under Construction...!!</h1>
    {% endblock %}