{% extends 'tracker/base.html' %}
{% block content %}
    <div class="state py-4 no-gutter ">
        <div class="container">
            <div class="heading">
                <p><small class="lead">While There's Life There's Hope !!</small></p>
                <h2>STATEWISE WISE REPORT</h2>
            </div>
            <table class="table table-hover table-responsive-lg">
                <thead>
                <tr>
                  <th scope="col">STATE</th>
                  <th scope="col">CONFIRMED</th>
                  <th scope="col">RECOVERED</th>
                  <th scope="col">DECEASED</th>
                </tr>
               </thead>
                <tbody>
                {% for data in context %}
                <tr>
                  <th scope="row">{{data.state}}</th>
                  <td>{{data.confirmed}}
                    <span class="deltaconfirmed badge badge-light">
                        <span class="text-primary text-bold">
                            +{{data.latest_confirm}}
                        </span>
                    </span>
                  </td>
                  <td>{{data.recovered}}
                    <span class="deltarecovered badge badge-light">
                        <span class="text-success text-bold">
                            +{{data.latest_recovered}}
                        </span>
                    </span>
                  </td>
                  <td>{{data.deaths}}
                    <span class="deltaconfirmed badge badge-light">
                        <span class="text-danger text-bold">
                            +{{data.latest_deaths}}
                        </span>
                    </span>
                  </td>
                </tr>
                {% endfor %}
               </tbody>
            </table>

        </div>
    </div>


{% endblock %}